{
	"[@beep]" = "bgs-c_beep.ogg";
	"[@boop]" = "bgs-c_boop.ogg";
	"[@breakpattern]" = "bgs-c_breakpattern.ogg";
	"[@click]" = "bgs-c_guiclick.ogg";
	"[@switch-off]" = "[@boop]";
	"[@switch-on]" = "[@beep]";
	"[@warning]" = "bgs-c_warning.ogg";
	"[@witchabort]" = "bgs-c_witchabort.ogg";
	"[aegis-planet]" = "bgs-c_aegis_planet.ogg";
	"[aegis-station]" = "bgs-c_aegis_station.ogg";
	"[alert-condition-red]" = "[@warning]";
	"[autopilot-cannot-dock-with-target]" = "bgs-c_auto_fail.ogg";
	"[autopilot-denied]" = "bgs-c_auto_deny.ogg";
	"[autopilot-off]" = "bgs-c_auto_off.ogg";
	"[autopilot-on]" = "bgs-c_auto_on.ogg";
	"[autopilot-out-of-range]" = "bgs-c_auto_norange.ogg";
	"[buy-commodity]" = "bgs-c_buy.ogg";
	"[buy-ship]" = "[buy-commodity]";
	"[cargo-jettisoned]" = "bgs-c_cargo_jet.ogg";
	"[changed-option]" = "[@click]";
	"[cloaking-device-insufficent-energy]" = "bgs-c_cloak_fail.ogg";
	"[cloaking-device-off]" = "bgs-c_cloak_off.ogg";
	"[cloaking-device-on]" = "bgs-c_cloak_on.ogg";
	"[contract-accepted]" = "bgs-c_contract_accepted.ogg";
	"[contract-rejected]" = "bgs-c_contract_rejected.ogg";
	"[could-not-buy-commodity]" = "[@boop]";
	"[could-not-buy-ship]" = "[could-not-buy-commodity]";
	"[could-not-sell-commodity]" = "[@boop]";
	"[dismissed-mission-screen]" = "[@click]";
	"[dismissed-report-screen]" = "[@click]";
	"[energy-bomb-fired]" = "bgs-c_bigbang.ogg";
	"[energy-low]" = "bgs-c_energylow.ogg";
	"[escape-pod-scooped]" = "bgs-c_pod_scoop.ogg";
	"[fuel-leak]" = "bgs-c_fuel_leak.ogg";
	"[galactic-hyperspace-countdown-begun]" = "bgs-m_silence.ogg";
	"[game-over]" = "bgs-c_game_over.ogg";
	"[hold-full]" = "bgs-c_hold_full.ogg";
	"[hostile-warning]" = "[@warning]";
	"[hyperspace-countdown-aborted]" = "bgs-c_hyp_abort.ogg";
	"[hyperspace-countdown-begun]" = "bgs-m_silence.ogg";
	"[ident-locked-on]" = "bgs-c_id_lock.ogg";
	"[ident-off]" = "bgs-c_id_off.ogg";
	"[ident-on]" = "bgs-c_id_on.ogg";
	"[incoming-missile]" = "bgs-c_in_missile.ogg";
	"[jump-mass-locked]" = "bgs-c_mass_lock.ogg";
	"[menu-navigation-down]" = "[@click]";
	"[menu-navigation-not]" = "bgs-c_menu_not.ogg";
	"[menu-navigation-up]" = "[@click]";
	"[menu-next-page]" = "[@click]";
	"[menu-previous-page]" = "[@click]";
	"[mine-armed]" = "bgs-c_mine_armed.ogg";
	"[mine-launched]" = "bgs-c_mine_launched.ogg";
	"[missile-armed]" = "bgs-c_mis_armed.ogg";
	"[missile-launched]" = "bgs-c_mis_launch.ogg";
	"[missile-locked-on]" = "bgs-c_mis_lock.ogg";
	"[missile-safe]" = "bgs-c_mis_safe.ogg";
	"[next-missile-selected]" = "[@click]";
	"[no-target-in-memory]" = "bgs-c_no_memtar.ogg";
	"[player-direct-hit]" = "bgs-c_hullbang.ogg";
	"[player-dock-with-station]" = "[@breakpattern]";
	"[player-exit-witchspace]" = "[@breakpattern]";
	"[player-fired-ecm]" = "bgs-c_ecm.ogg";
	"[player-hit-by-ecm]" = "bgs-c_ecm.ogg";
	"[player-hit-by-weapon]" = "bgs-c_hit.ogg";
	"[player-laser-hit]" = "bgs-c_laserhits.ogg";
	"[player-laser-miss]" = "bgs-c_laser.ogg";
	"[player-launch-from-station]" = "[@breakpattern]";
	"[player-scrape-damage]" = "bgs-c_hullbang.ogg";
	"[save-overwrite-no]" = "[@boop]";
	"[save-overwrite-yes]" = "[@beep]";
	"[scoop]" = "bgs-c_scoop.ogg";
	"[sell-commodity]" = "bgs-c_sell.ogg";
	"[target-lost]" = "bgs-c_tar_lost.ogg";
	"[target-switched]" = "[@click]";
//	"[trumble-idle]" = "bgs-c_trumble.ogg";
//	"[trumble-squeal]" = "bgs-c_trumblesqueal.ogg";
//	"[weapon-overheat]" = "bgs-c_weap_heat.ogg";
	"[weapon-overheat]" = "bgs-c_weap_heat3.ogg";
	"[witch-blocked-by-@]" = "bgs-c_witch_fail.ogg";
	"[witch-no-fuel]" = "bgs-c_witch_fail_fuel.ogg";
	"[witch-no-target]" = "bgs-c_nosystem.ogg";
	"[witch-too-far]" = "[@witchabort]";
	"[witchdrive-failure]" = "bgs-c_ws_malf.ogg";
	"[witchdrive-malfunction]" = "bgs-c_ws_malf.ogg";
	"[wormhole-created]" = "bgs-c_w_hole.ogg";
	
	// BGS preload
	"[bgs_ambiEngine]" = "bgs-m_ambi_engine1.ogg";
	"[bgs_ambiStation]" = ("bgs-m_ambi_station1.ogg","bgs-m_ambi_station2.ogg");
	"[bgs_ambiWitch]" = "bgs-m_ambi_witch1.ogg";
	"[bgs_fxChatter0]" = "bgs-m_ambi_chatter00.ogg";
	"[bgs_fxChatter1]" = "bgs-m_ambi_chatter01.ogg";
	"[bgs_fxChatter2]" = "bgs-m_ambi_chatter02.ogg";
	"[bgs_fxChatter3]" = "bgs-m_ambi_chatter03.ogg";
	"[bgs_fxChatter4]" = "bgs-m_ambi_chatter04.ogg";
	"[bgs_fxChatter5]" = "bgs-m_ambi_chatter05.ogg";
	"[bgs_fxChatter6]" = "bgs-m_ambi_chatter06.ogg";
	"[bgs_fxChatter7]" = "bgs-m_ambi_chatter07.ogg";
	"[bgs_fxChatter8]" = "bgs-m_ambi_chatter08.ogg";
	"[bgs_fxChatter9]" = "bgs-m_ambi_chatter09.ogg";
	"[bgs_fxChatterA]" = "bgs-m_ambi_chatter0A.ogg";
	"[bgs_fxChatterB]" = "bgs-m_ambi_chatter0B.ogg";
	"[bgs_fxChatterC]" = "bgs-m_ambi_chatter0C.ogg";
	"[bgs_fxChatterD]" = "bgs-m_ambi_chatter0D.ogg";
	"[bgs_fxChatterE]" = "bgs-m_ambi_chatter0E.ogg";
	"[bgs_fxChatterF]" = "bgs-m_ambi_chatter0F.ogg";
	"[bgs_fxChatterG]" = "bgs-m_ambi_chatter10.ogg";
	"[bgs_fxChatterH]" = "bgs-m_ambi_chatter11.ogg";
	"[bgs_fxChatterI]" = "bgs-m_ambi_chatter12.ogg";
	"[bgs_fxChatterJ]" = "bgs-m_ambi_chatter13.ogg";
	"[bgs_fxChatterK]" = "bgs-m_ambi_chatter14.ogg";
	"[bgs_fxChatterL]" = "bgs-m_ambi_chatter15.ogg";
	"[bgs_fxChatterM]" = "bgs-m_ambi_chatter16.ogg";
	"[bgs_fxChatterN]" = "bgs-m_ambi_chatter17.ogg";
	"[bgs_fxChatterO]" = "bgs-m_ambi_chatter18.ogg";
	"[bgs_fxChatterP]" = "bgs-m_ambi_chatter19.ogg";
	"[bgs_fxChatterQ]" = "bgs-m_ambi_chatter1A.ogg";
	"[bgs_fxChatterR]" = "bgs-m_ambi_chatter1B.ogg";
	"[bgs_fxChatterS]" = "bgs-m_ambi_chatter1C.ogg";
	"[bgs_fxChatterT]" = "bgs-m_ambi_chatter1D.ogg";
	"[bgs_fxChatterU]" = "bgs-m_ambi_chatter1E.ogg";
	"[bgs_fxChatterV]" = "bgs-m_ambi_chatter1F.ogg";
	"[bgs_fxContracts]" = "bgs-m_fx_contracts1.ogg";
	"[bgs_fxEngineDown]" = "bgs-m_fx_enginedown1.ogg";
	"[bgs_fxEngineUp]" = "bgs-m_fx_engineup1.ogg";
	"[bgs_fxEquip]" = "bgs-m_fx_equipment1.ogg";
	"[bgs_fxHyper]" = "bgs-m_fx_witchenter1.ogg";
	"[bgs_fxManifest]" = "bgs-m_fx_manifest1.ogg";
	"[bgs_fxMarket]" = "bgs-m_fx_market1.ogg";
	"[bgs_fxShipyard]" = "bgs-m_fx_shipyard1.ogg";
	"[bgs_fxStatus]" = "bgs-m_fx_status1.ogg";
	"[bgs_fxSystemData]" = "bgs-m_fx_systemdata1.ogg";
	"[bgs_fxWitch]" = "bgs-m_fx_witchexit1.ogg";
	"[bgs_fxCount0]" = "bgs-m_countdown_0.ogg";
	"[bgs_fxCount1]" = "bgs-m_countdown_1.ogg";
	"[bgs_fxCount2]" = "bgs-m_countdown_2.ogg";
	"[bgs_fxCount3]" = "bgs-m_countdown_3.ogg";
	"[bgs_fxCount4]" = "bgs-m_countdown_4.ogg";
	"[bgs_fxCount5]" = "bgs-m_countdown_5.ogg";
	"[bgs_fxCount6]" = "bgs-m_silence.ogg";
	"[bgs_fxCount7]" = "bgs-m_silence.ogg";
	"[bgs_fxCount8]" = "bgs-m_silence.ogg";
	"[bgs_fxCount9]" = "bgs-m_silence.ogg";
	"[bgs_fxCount10]" = "bgs-m_silence.ogg";
	"[bgs_fxCountG]" = "bgs-m_countdown_g.ogg";
	"[bgs_fxCountH]" = "bgs-m_countdown_h.ogg";
	"[bgs_fxQMine]" = "bgs-c_qmine_boom.ogg";
}
